/*Algemene opmaak en layout voor mobile (<768px) */

* {
  box-sizing: border-box;
}

body {
  
}

header,
h1,
section,
footer {
  
}

footer {
  padding: 10px;
}

footer a {
  
}

header,
section, footer {
  width: 251px;

}

h1 {
  padding: 10px;
  line-height: 2;
  font-size: 1.3em;
}

section > article {
  width: 245px;
  height: 285px;
  padding:15px;
  
  margin: 3px 3px;
}

section > article > img {
  margin: 15px auto;
  display:block;
}

